* { box-sizing: border-box; }

html { overflow-y: scroll; }

.wrapper {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}

body {
  background-color: #454545;
  color: #fff;
  font-variant: small-caps;
  text-align: center;
}

img {
  width: 100%;
}